<div class="container">
  <h1>Welcome</h1>
  <form class="form-group" [formGroup]="ourForm" (ngSubmit)="submission()"> 
  <!--the "ngForm" directive is used to capture the values of the form elements-->
    
    <input class="form-control" formControlName="username" type="text" placeholder="Name">
    <!--the "ngModel" directive specifies which element to capture the value of.
    Note that a name attribute is needed for the element, otherwise an error will
    be returned-->
    <input class="form-control" formControlName="usersurname" type="text" placeholder="Surname">
    <input class="form-control" formControlName="useremail" type="text" placeholder="Email">
    <input class="form-control" formControlName="userphonenumber" type="text" placeholder="Phone Number" >
    <button class="container-fluid btn btn-secondary" type="submit">Send</button>
  </form>
   <!--"{{ourForm.value|json}}" shows the values in json format-->
</div>

<router-outlet></router-outlet>
